.hide {
	display: none;
}

.text-detail {
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
	color: #00c8bf;
}

.text-detail:hover {
	text-decoration: none;
	color: #a5abcc;
}

.navbar-breadcrumb {
	background: #844fc1bf;
}

.navbar-breadcrumb .navbar-links-wrapper .nav-link {
	border-right: 1px solid #844fc1;
}

.hvr-float {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
}

.pointer {
	cursor: pointer;
}

/* TIMELINE VERTICAL */
/* (A) TIMELINE CONTAINER */
.vtl {
	/* (A1) RELATIVE POSITION REQUIRED TO PROPERLY POSITION THE TIMELINE */
	position: relative;

	/* (A2) RESERVE MORE SPACE TO THE LEFT FOR THE TIMELINE */
	padding: 10px 10px 10px 50px;

	/* (A3) OPTIONAL WIDTH RESTRICTION *
    max-width: 400px;*/
}
.vtl,
.vtl * {
	box-sizing: border-box;
}

/* (B) DRAW VERTICAL LINE USING ::BEFORE */
.vtl::before {
	/* (B1) VERTICAL LINE */
	content: "";
	width: 5px;
	/* background-color: #de421a; */
	background-color: #844fc1;

	/* (B2) POSITION TO THE LEFT */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
}

/* (C) COSMETICS FOR EVENTS */
div.event {
	padding: 20px 30px;
	background-color: #ffebeb;
	position: relative;
	border-radius: 6px;
	margin-bottom: 10px;
}

/* (D) COSMETICS FOR EVENT DATE & TEXT */
p.date {
	font-size: 1.1em;
	font-weight: 700;
	color: #ff6a00;
}
p.txt {
	margin: 10px 0 0 0;
	color: #222;
}

/* (E) EVENT "SPEECH BUBBLE CALLOUT" */
div.event::before {
	/* (E1) "MAGIC TRIANGLE" */
	content: "";
	border: 10px solid transparent;
	border-right-color: #ffebeb;
	border-left: 0;

	/* (E2) POSITION TO THE LEFT */
	position: absolute;
	top: 20%;
	left: -10px;
}

/* (F) CIRCLE ON TIMELINE */
div.event::after {
	/* (F1) "MAGIC CIRCLE" */
	content: "";
	background: #fff;
	/* border: 4px solid #de421a; */
	border: 4px solid #844fc1;
	width: 22px;
	height: 22px;
	border-radius: 50%;

	/* (F2) POSITION TO THE LEFT */
	position: absolute;
	top: 20%;
	left: -44px;
}

/* (X) DOES NOT MATTER */

/* WIDGET */
.widget-wrap {
	min-width: 500px;
	padding: 30px;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.4);
}

/* SVG */
#grid {
	width: 100%;
	height: 100px;
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 512 512" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M80 368H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm0-320H16A16 16 0 0 0 0 64v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16V64a16 16 0 0 0-16-16zm0 160H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm416 176H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z" /></svg>');
	background-repeat: no-repeat;
	background-position: center;
}

/* FOOTER */
#code-boxx {
	font-weight: 600;
	margin-top: 50px;
}
#code-boxx a {
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	background: #b90a0a;
	color: #fff;
}
#code-boxx,
h1 {
	text-align: center;
}
/* TIMELINE VERTICAL */
